/* *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
}

.header__nav{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    padding: 1em;
}

.header__nav__escritorio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header__nav__escritorio__menu{
    display: none;
}

.header__nav__escritorio__logo{
    color: white;
}

.header__nav__mobile{
    display: none;
    position: relative;
}

.btnMobile{
    color: white;
} */

.header-image {
    height: 300px;  /* Ajusta el tamaño según lo necesites */
    background-image: url('../images/background-header.png');  /* Coloca aquí la ruta de la imagen */
    background-size: cover;      /* La imagen cubre todo el área */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    clip-path: polygon(
    50% 0%, 70% 20%, 100% 30%, 80% 60%, 
    90% 100%, 50% 80%, 20% 100%, 0% 70%, 
    10% 40%, 0% 10%
  );
  }
  
  .header-image h1 {
    font-size: 2em;
  }